/* Optional: smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Set default font and background color */
body {
  font-family: 'Inter', sans-serif;
  background-color: #f3f4f6; /* Light gray background like Amazon */
  margin: 0;
  padding: 0;
}
.navbar .nav-link {
  color: #fff !important;
}

.navbar .nav-link:hover {
  color: #fbbf24 !important; /* Amazon yellow on hover */
}